.PiconCon {
  width: 100%;
  height: 44px;
}

.PiconLeft {
  float: left;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: 5px;
}

.PiconRight {
  float: right;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-right: 5px;
}

.PiconCon i {
  font-size: xx-large;
  margin: 6px;
  cursor: pointer;
}

.red {
  color: red;
}

.disable {
  display: none;
}