.postComment {
  width: 100%;
  height: 35px;
  border: 1px solid white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 10px 0;
  position: relative;
}

.emoji {
  margin: 5px;
font-size: 1.6em;
}
.emojiPicker{
  bottom: 0px;
  left: 0px;
}

.commentTxt  {
  background-color: black;
  max-width: 500px;
  flex-grow: 1;
  height: auto;
}
.commentTxt input {
  width: 100%;
  height: 100%;
  margin: 0 5px;
  box-sizing: border-box;
  /* background-color: black; */
  outline: none;
  border: none;
}
.commentSender {
  line-height: 40px;
  margin: 0 10px;
}