.container {
  height: calc(100% - 60px);
  max-width: 1200px;
  background-color: #3E3F69;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: auto;
  margin-top: 50px;
  z-index: 1;
}


@media screen and (max-width: 600px) {
  .container {
    margin-top: 100px;
  }
}
